@page
@model ProjectWebDev.Pages.Overzichten.AddNotes

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbarcss.css">
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="navbarid">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Overzichten/HomeScreen">Comicollection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Overzichten/UltimateCollection">
                        <text style="color: white;">Ultimate Collection</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Overzichten/SupportScreen">
                        <text style="color: white;">Support</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Overzichten/MyCollection">
                        <text style="color: white;">My Collection</text>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="navbg" href="/Login/LoginScreen">
                        <text style="color: white;">My Account/Login</text>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <form method="post" asp-page-handler="Toevoegen" name="TextNotes" id="TextNotes">
        <div class="row">
            <textarea name="Text1" id="Text1" cols="60" rows="10" form="TextNotes">@Model.Notes</textarea>
        </div>
        <div class="row">
            <input type="hidden" name="strip_id" value="@Model.Strip_id"/>
            <button style="background-color: @Model.Kleuren.active; color: white; border-radius: 5px; border: none; width: 175px; height: 40px; margin-top: 125px">Add Notes</button>
        </div>
    </form>
</div>
</body>
</html>